{% extends "base.html" %}

{% block titulo %} home {% endblock %}

{% block contenido %}

<div class="row" style="margin-left: 0%;margin-right: 0%;margin-top: 5%;" >
    <img class="col-md-4" src="pet.jpg" alt="10%" width="200px" >

    <form class="col-md-4" style="margin-left:0%;margin-right: 0%;margin-top:1%; ">
        <div class="form-group col-lg-12">                            
            <input type="email" class="form-control" id="txtEmail" placeholder="correo">
            <label for=""></label>
            <input type="password" class="form-control" id="txtPassword" placeholder="clave">  
            <input class="btn btn-primary m-3" type="button" value="ir" style="width: 25%; " onclick="confirmacion()">
        </div>                    
    </form> 
    <img class="col-md-4" src="catdoc.jpg" alt="10%" width="200px" >
</div>  
{% endblock %}